[Desktop Entry]
Version=1.0
Type=Link
Name=PlantUML_Server_Editor
Comment=PlantUML_www_Server_Sampl
Icon=user-bookmarks
URL=https://www.plantuml.com/plantuml/umla/SoWkIImgAStDuNBAJrBGjLDmpCbCJbMmKiX8pSd9vt98pKi1IW80
Name[fr_FR]=PlantUML_Server_Editor_www_link
